{% extends 'hello/layout.html' %}
{% block title %}
    About
{% endblock title %}

{% block body %}
    <p>Welcome to the About page, tells you all</p>
    <p>what the website is about</p>
    <article>
        So we will be talking more about the website and how things are done here 
        first of all we would like to let you know that everyting done here is practical and
        formal. 
        We would like to recommend some django tutorials to you so you will get better in programming 
        in django with the help of python. 
    </article>
    <h2 style="text-align: center;">Enjoy !!</h2>
{% endblock body %}