{% extends 'hello/layout.html' %}
{% load static %}

{% block title %} Logs {% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'hello/index.css' %}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Welcome to the Logs Page</h1>
        <strong>Hello there, {{name}} </strong> <br>
        <p>This app will display a bit of logs</p>
        <p>Detailing time and date of when a message log was created.</p>
        <p>We are very grateful for your time here </p>
        <em>It's {{date}} </em>
    </div>
    

{% endblock body %}